html,body{
    height: 100%;
    background: #ccc;
}
.content{
    width:1200px;
    height: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content>.list>li{
    width:1200px;
    height: 600px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}
.content>.list>.current_tm{
    opacity: 1;
}
.content>.list>li>img{
    width: 1200px;
    height: 600px;
}
.jt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: 700;
}
.left{
    left: 10px;
}
.right{
    right: 10px;
}
.content>.dots{
    position: absolute;
    bottom: 10px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}
.content>.dots>li{
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    border: 2px solid skyblue;
    border-radius: 50%;
    color: white;
}
.current{
    background: skyblue;
}